body {
  background-color: #000;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.navbar {
  background-color: #000 !important;
}

.navbar-brand {
  color: white !important;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #ccc;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.topbar {
  background-color: #111;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mini-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
}

.mini-img:hover {
  border: 2px solid white;
}

.talla-btn.active {
  background-color: white;
  color: black;
  font-weight: bold;
}

section .col-md-6 h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;
}

.talla-btn.active {
  background-color: white;
  color: black;
  font-weight: bold;
}

.form-label {
  color: white;
}